
/code/freetype/objs
/code/freetype/builds/win32/visualc.2008
!/code/freetype/builds/win32/visualc.2008/freetype.vcproj

/code/win32/msvc.2008
!/code/win32/msvc.2008/botlib.vcproj
!/code/win32/msvc.2008/cgame.def
!/code/win32/msvc.2008/cgame.vcproj
!/code/win32/msvc.2008/code
!/code/win32/msvc.2008/game.def
!/code/win32/msvc.2008/game.vcproj
!/code/win32/msvc.2008/q3_ui.def
!/code/win32/msvc.2008/q3_ui.vcproj
!/code/win32/msvc.2008/quake3.sln
!/code/win32/msvc.2008/quake3.vcproj
!/code/win32/msvc.2008/renderer.vcproj
!/code/win32/msvc.2008/ui.def
!/code/win32/msvc.2008/ui.vcproj
